.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movies {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-gap: 50px;
  padding: 50px;
  width: 80%;
  padding-top: 70px;
  padding-bottom: 0px;
}

.page_nums {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: 0 0 50px 0;
}

.page_nums a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  text-shadow: 1px 1px 1px white;
}

@media screen and (max-width: 1090px) {
  .movies {
    grid-template-columns: 1fr;
    width: 100%;
  }
}
