.movie {
  background-color: #fef7ff;
  margin-bottom: 70px;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: minmax(150px, 1fr) 2fr;
  color: #4b4453;
  grid-gap: 20px;
  text-decoration: none;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  transition: all 0.4s ease;
}

.movie:hover {
  transform: translateY(-10px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.movie_img {
  position: relative;
  top: -50px;
  max-width: 150px;
  width: 100%;
  margin-right: 30px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.movie_info {
  overflow: hidden;
}

.movie_title,
.movie_year {
  margin: 10px 0px;
  padding-right: 20px;
  font-weight: 300;
  text-decoration: none;
  text-align: left;
}

.movie_title a {
  font-weight: 500;
  color: #2c2c2c;
  margin-bottom: 5px;
  font-size: 24px;
  text-decoration: none;
}

.movie p {
  padding: 0;
}

.movie_genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0px;
}

.movie_genres li,
.movie_year {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}
